<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" />
    <title>Devlog - by Max Dev</title>

    <%- include('./import/default_css') %>
    <%- include('./import/default_js') %>


</head>

<body>

    <%- include('./components/navbar') %>
    <%- include('./components/home_content') %>
    <%- include('./components/counter') %>
    <%- include('./components/footer') %>

    <%- include('./import/main_config') %>
    <script src="/src/js/main.js"></script>

</body>

</html>