<img class="img-center"
    src="https://readme-typing-svg.demolab.com?font=Alexandria&weight=900&size=70&pause=500&color=00B685&center=true&vCenter=true&multiline=true&repeat=false&width=1500&height=200&lines=<%=__('typed text').split(' ').join('+')%>+;%24%7B%F0%9F%A4%96%7D"
    alt="Typing SVG" />

<div class="container">
    <div class="row">
        <div class="col-lx-12">
            <div class="card bg-transparent text-light">
                <div class="card-body">
                    <div class="row justify-content-center mt-4">
                        <div class="col-xl-5 col-lg-8">
                            <div class="text-center">
                                <h3><%= __("want share") %> </h3>
                                <p class="text-muted"><%= __("want share text") %></p>
                                <div>
                                    <button type="button" class="btn btn-primary me-2">
                                        <%= __('no account')%>
                                    </button>
                                    <button type="button" class="btn btn-success">
                                        <%= __('login')%>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                    <!-- Blog post header -->

                    <div class="justify-content-center mt-5">
                        <div class="h4 text-muted row">
                            <div class="col-3"><%= __('last post header') %></div>
                            <div class="col-9">
                                <hr style="width: 100%;" />
                            </div>
                        </div>
                        <div class="tab-content pt-3" id="pills-tabContent">
                            <div>
                                <div class="row g-4 mt-2">
                                    <% locals.posts.forEach(element => { %>
                                    <div class="col-lg-6 post-card mb-5 pt-3">
                                        <!-- <div class="card-img-top"
                                            style="background-image: url('/assets/img/dev.webp'); background-size:
                                            cover; background-repeat: no-repeat;  height: 150px; width: 100%">
                                        </div> -->
                                        <div class="mb-4 ">
                                            <img src="/assets/img/dev.webp"
                                                class="card-img-top img-fluid img-fit-center" alt="Image"
                                                style="max-height: 150px;width:
                                            100%; border-radius: 10px"></div>
                                        <h5><%= element.title %></h5>
                                        <p class="text-muted"><%= element.content %></p>
                                    </div>
                                    <% }) %>

                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- end row -->
                </div>
            </div>
        </div>
    </div>
</div>