<div class="nav-wrapper">
    <nav id="navbar-main" class="navbar navbar-dark navbar-main navbar-expand-lg navbar-transparent py-2">
        <a class="brand mr-4" href="/" title="Retour à l'accueil">
            <div class="font-weight-bold text-capitalize text-light h3">
                <span class="color-2">-</span>
                D3VL0G
                <span class="color-2">-</span>
                <!-- <img src="https://media.giphy.com/media/CVtNe84hhYF9u/giphy.gif" width="28"> -->
            </div>
        </a>
        <ul class="nav justify-content-center">
            <li class="nav-item fwl">
                <div class="dropdown open">
                    <a id="triggerId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                        <%= __("my programs")%>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <div class="dropdown-menu vw-100 bg-dark" aria-labelledby="triggerId">
                        <button class="dropdown-item text-light bg-dark" href="#">
                            <i class="fa fa-spinner" aria-hidden="true"></i>
                            Images comparator
                        </button>

                        <button class="dropdown-item text-light bg-dark" href="#">
                            <i class="fa fa-spinner" aria-hidden="true"></i>
                            Text mistakes checker
                        </button>
                        <button class="dropdown-item text-light bg-dark" href="#">
                            <i class="fa fa-spinner" aria-hidden="true"></i>
                            Plagiarism remover
                        </button>
<hr style="width: 100%;" />
                        <button class="dropdown-item text-light bg-dark" href="#">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Maze puzzle resolver
                            (Pathfinding)</button>
                        <button class="dropdown-item text-light bg-dark" href="#">
                            <i class="fa fa-spinner" aria-hidden="true"></i>
                            CrackTheCode puzzle resolver

                        </button>
                    </div>
                </div>
            </li>

            <li class="nav-item fwl">
                <a class="nav-link" href="#">
                    <%= __("settings")%>
                </a>
            </li>
            <li class="nav-item fwl">
                <a class="nav-link" href="#">
                    <%= __("help")%>
                </a>
            </li>

        </ul>

        <ul class="nav icon-nav justify-content-center ml-auto">
            <li class="nav-item">
                <a class="nav-link nav-link-icon" href="mailto:happydev.229@gmail.com" target="_blank"
                    data-toggle="tooltip" title="<%= __('send me mail')%>">
                    <i class="fa fa-envelope"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-icon" href="https://www.instagram.com/aaanh_derson" target="_blank"
                    data-toggle="tooltip" title="<%= __('follow me on insta')%>">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-icon" href="https://twitter.com/_maxdev" target="_blank"
                    data-toggle="tooltip" title="<%= __('follow me on twitter')%>">
                    <i class="fa fa-twitter-square"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-icon" href="https://github.com/D3R50N" target="_blank" data-toggle="tooltip"
                    title="<%= __('follow me on github')%>">
                    <i class="fa fa-github"></i>
                </a>
            </li>
            <li class="nav-ite" style="color: var(--col); cursor: pointer;" title="<%=__('alt lang text')%>">
                <a href="/<%=__('alt lang')%>/<%= locals.redirect %> " class="nav-link nav-link-icon"
                    style="color: var(--col);">
                    <%=__('alt lang').toUpperCase()%>
                </a>
            </li>
        </ul>
    </nav>
</div>